accounts:
  -
    username: "imap-login"
    password: "imap-password"
    imapServer: "myserver:993"
    smtpServer: "myserver:25"
    inbox: "INBOX"
    deleteOriginal: true
    # optional
    forwardTo: "blessed-recipient@domain"
    # optional
    outbox: "INBOX"
